{
    "presets": [
        [
            "@babel/preset-typescript",
            {
                "allExtensions": true
            }
        ],
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "18"
                },
                "modules": false
            }
        ]
    ],
    "plugins": ["@babel/plugin-syntax-import-attributes"],
    "comments": true
}
